@charset "utf-8";

/* ========================================================
	maternity.css => ベビー用品お得クーポンページ用CSS
======================================================== */

/* topicpath
============================================================================================================ */
.topicpath {
	margin-bottom:0;
}

/* maternity_main
============================================================================================================ */
.maternity_main {
	height:444px;
	background-image:url(../images/mv_bg.jpg);
	background-position:30% bottom;
	background-repeat:no-repeat;
	background-color:#f4f4f4;
	position:relative;
}
.maternity_main h1 {
	max-width:1020px;
	margin:0 auto;
	text-align: right;
}
@media screen and (max-width:680px) {
	.maternity_main {
		background-size: 390px auto;
		height:220px;
		background-position: 137% bottom;
	}
	.maternity_main h1 img {
		max-width:340px;
		width:55%;
		margin-right: 5%;
	}
}

/* maternity_contents
============================================================================================================ */
.maternity_contents {
	padding:70px 0 140px;
}
.maternity_contents .center {
	margin-bottom:25px;
	font-weight:bold;
	font-size:18px;
	font-size:1.8rem;
	text-align:center;
}
.maternity_contents .in_box {
	padding:50px 130px;
}
.maternity_contents .in_box > ul > li {
	padding-bottom:10px;
}
.maternity_contents .in_box > ul > li + li {
	border-top:1px solid #e8ecf5;
	padding-top:10px;
}
.maternity_contents .in_box ul li dl dt,
.maternity_contents .in_box > ul > li > p {
	text-indent:-1.4em;
	padding-left:1.4em;
	font-weight:bold;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.maternity_contents .in_box ul li dl dt:before,
.maternity_contents .in_box > ul > li > p:before {
	content:"";
	display:inline-block;
	margin-right:0.4em;
	border-radius:50%;
	width:12px;
	height:12px;
	background-color:#3e5faa;
}
@media screen and (max-width:680px) {
	.maternity_contents {
		padding:30px 0 50px;
	}
	.maternity_contents .center {
		font-size:1.6rem;
	}
	.maternity_contents .card {
		margin-bottom:20px;
		padding-right:0;
	}
	.maternity_contents .card > img {
		margin-bottom:20px;
		position:static;
	}
	.maternity_contents .card p {
		margin-bottom:10px;
	}
	.maternity_contents .card > a {
		display:block;
	}
	.maternity_contents .in_box {
		padding:20px 10px;
	}
}